<h1>Translation of "<%=@the_phrase%>" </h1>

<%require "google/cloud/translate" %>
<% gt_client = Google::Cloud::Translate.new({ :version => :v2 }) %>

<%@translation = gt_client.translate(@the_phrase, { :to => @language})%>

<div>
  <%=@translation%>
</div>

<div>
  <a href="/<%=@the_country%>/translate">Translate</a>
</div>