<!-- The default currency is going to be US dollars -->

<h2>The acceptable currencies at (country) are: </h2>
<ul>
  <li>Currency 1 </li>
  <li>Currency 2</li>
</ul>

<br>

<h4>1 <%=@usd%> = (exchange rate) (currency 1)</h4>
<h4> __ <%=@usd%> = (exchange rate x ___) (currency 1) </h4>

<h4>1 <%=@usd%> = (exchange rate) (currency 2)</h4>
<h4> __ <%=@usd%> = (exchange rate x ___) (currency 2) </h4>
