<h1 class="home_content from_country">From <%=@the_country.name.capitalize()%>, With Love </h1>

<br>

<h2 class="home_content"> What do you need help with? </h2>

<ul class="home_content">
  <li><a href="/<%=@the_country.name.downcase()%>/translate">Translate </a></li>
  <li><a href="/<%=@the_country.name.downcase()%>/currency_exchange">Currency Exchange </a></li>
</ul>