<h2>Where are you travelling to next? </h2>

<%@selected_country = nil%>

<form action="/home<%=@selected_country%>">
  <label for="get_country">Choose a country</label>
    <select name="country" id="get_country">
      <%@array_of_countries.each do |country|%>
        <option value="<%=country.fetch("name")%>">
          <%=country.fetch("name").downcase()%>
          <%@selected_country = country.fetch("name").downcase()%>
        </option>

      <%end%> 
   </select>

   <button>Submit!</button>
  </form>




